'{'
' "agent": {'
'    "host" : "'$host'",'
'    "version" : "'$version'"'
'  },'
'  "components": ['
'    {'
'      "name": "'$name'",'
'      "guid": "'$guid'",'
'      "duration" : '$postinterval','
'      "metrics" : {'
'        "Component/bobbyrne01/automation/nr/noOfUsers[Value]": '$noOfUsers' '
'      }'
'    }'
'  ]'
'}'

